In [10]:
# https://www.kaggle.com/rootuser/worldnews-on-reddit/code
# https://drive.google.com/file/d/0B7XkCwpI5KDYNlNUTTlSS21pQmM/edit?resourcekey=0-wjGZdNAUop6WykTtMip30g
from gensim.models import Word2Vec, KeyedVectors
import pandas as pd
import nltk

In [11]:
df = pd.read_csv('reddit_worldnews.csv')

In [12]:
df.head(5)

,time_created,date_created,up_votes,down_votes,title,over_18,author,subreddit
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [13]:
newsTitles = df['title'].values

In [14]:
newsTitles

array(['Scores killed in Pakistan clashes',
       'Japan resumes refuelling mission',
       'US presses Egypt on Gaza border', ...,
       'Professor receives Arab Researchers Award',
       'Nigel Farage attacks response to Trump ambassador tweet',
       'Palestinian wielding knife shot dead in West Bank: Israel police'],
      dtype=object)

In [6]:
#nltk.download('punkt')

In [19]:
newsVec = [nltk.word_tokenize(title) for title in newsTitles]

In [20]:
newsVec[:5]

[['Scores', 'killed', 'in', 'Pakistan', 'clashes'],
 ['Japan', 'resumes', 'refuelling', 'mission'],
 ['US', 'presses', 'Egypt', 'on', 'Gaza', 'border'],
 ['Jump-start', 'economy', ':', 'Give', 'health', 'care', 'to', 'all'],
 ['Council', 'of', 'Europe', 'bashes', 'EU', '&', 'UN', 'terror', 'blacklist']]

In [21]:
model = Word2Vec(newsVec, min_count=1)

In [22]:
similars = model.wv.most_similar('man')
print(similars)

[('woman', 0.9051226377487183), ('teenager', 0.8451651334762573), ('boy', 0.8311858773231506), ('girl', 0.819983184337616), ('couple', 0.7774611711502075), ('doctor', 0.7668696045875549), ('teen', 0.7519113421440125), ('teacher', 0.7459398508071899), ('mother', 0.7331819534301758), ('policeman', 0.7294000387191772)]

In [23]:
# King - man + woman = Queen
vec = model.wv['King']-model.wv['man']+model.wv['woman']
model.wv.most_similar([vec])

[('King', 0.89300936460495),
 ('king', 0.744504451751709),
 ('Abdullah', 0.7287060022354126),
 ('Prince', 0.7100518345832825),
 ('Grand', 0.6968201398849487),
 ('Salman', 0.6917853951454163),
 ('Rushdie', 0.6909289956092834),
 ('Princess', 0.6825937032699585),
 ('Queen', 0.6777668595314026),
 ('VI', 0.6484870314598083)]

# using google's trained model - gensim

In [24]:
model = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True, limit=100000)

In [25]:
model.most_similar('man')

[('woman', 0.7664012908935547),
 ('boy', 0.6824871301651001),
 ('teenager', 0.6586930155754089),
 ('teenage_girl', 0.6147903203964233),
 ('girl', 0.5921714305877686),
 ('robber', 0.5585119128227234),
 ('teen_ager', 0.5549196600914001),
 ('men', 0.5489763021469116),
 ('guy', 0.5420035123825073),
 ('person', 0.5342026352882385)]

In [26]:
vec = model['King']-model['man']+model['woman']

In [27]:
model.most_similar([vec])

[('King', 0.7780153751373291),
 ('Queen', 0.55495285987854),
 ('Princess', 0.464548259973526),
 ('queen', 0.4479384422302246),
 ('Queen_Elizabeth', 0.4418003261089325),
 ('monarch', 0.43155860900878906),
 ('Empress', 0.42811447381973267),
 ('princess', 0.42595720291137695),
 ('Greene', 0.39877602458000183),
 ('Spalding', 0.39462387561798096)]

In [28]:
vec2 = model['Canada']-model['Ontario']+model['Cairo']
model.most_similar([vec2])

[('Cairo', 0.7906919121742249),
 ('Egypt', 0.6005313992500305),
 ('Tunis', 0.549670934677124),
 ('Cairo_Egypt', 0.5450116991996765),
 ('Amman', 0.5231460332870483),
 ('Beirut', 0.5195030570030212),
 ('Damascus', 0.48988279700279236),
 ('Tahrir_Square', 0.4823935627937317),
 ('Egyptians', 0.4793627858161926),
 ('Middle_East', 0.46612927317619324)]

In [29]:
vec3 = model['Dragon']-model['Fire']+model['Air']
model.most_similar([vec3])

[('Air', 0.6145884394645691),
 ('Dragon', 0.5200332403182983),
 ('Jet', 0.4154438078403473),
 ('Hawk', 0.3885643184185028),
 ('Arrow', 0.3807510733604431),
 ('Singapore_Airlines', 0.3759206533432007),
 ('Virgin_Blue', 0.3727664053440094),
 ('Cathay_Pacific', 0.3650554418563843),
 ('Airlines', 0.35921621322631836),
 ('airline', 0.35299861431121826)]